<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.MessageMapper">
    <select id="findAll" resultType="entity.Message">
        SELECT * FROM message
    </select>
    <select id="findByuse_id" parameterType="int" resultType="entity.Message">
        SELECT * FROM message WHERE use_id=#{arg0}
    </select>
    <delete id="deleteMessage" parameterType="int">
        DELETE from message WHERE id= #{arg0}
    </delete>
    <insert id="insertMessage" parameterType="entity.Message">
        INSERT into message(title,content,ctime,uptime,use_id)
        VALUE (#{title},#{content},NOW(),NOW(),#{use_id})
    </insert>
    <update id="updateMessage" parameterType="entity.Message">
        update message
        SET title=#{title},
        content=#{content},
        uptime=NOW()
        WHERE id=#{id}
    </update>
    <select id="findById" parameterType="int" resultType="entity.Message">
        SELECT * from message WHERE id=#{arg0}
    </select>
    <select id="findGp" parameterType="int" resultType="entity.Message">
        SELECT * from message WHERE use_id in (
        SELECT id FROM users WHERE gid=#{arg0}
        )
    </select>
</mapper>
