<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.RoleMapper">
    <select id="findById" parameterType="int" resultType="entity.Role">
        SELECT * from role WHERE id=#{arg0}
    </select>
    <select id="findAll" resultType="entity.Role">
        SELECT * from role
    </select>
    <delete id="deleteRole" parameterType="int">
        DELETE FROM role WHERE id=#{arg0}
    </delete>
    <delete id="deleteAcc" parameterType="int">
        DELETE from role_acc WHERE rid =#{arg0}
    </delete>
    <insert id="insertRole" parameterType="String">
        INSERT INTO role(name)VALUES (#{arg0})
    </insert>
    <select id="findRid" parameterType="String" resultType="entity.Role">
        SELECT * from role WHERE name =#{arg0}
    </select>
    <update id="updateRole" parameterType="entity.Role">
        update role set name =#{name}
        WHERE id =#{id}
    </update>
</mapper>